
#colourPicker {
    width: 1280px;
    display: flex;
    align-items: stretch;
    text-align: center;
}

.colourButton {
    flex-grow: 1;
    margin: auto 5px;
    height: 20px;
}

#weightSelector {
    margin-right: 5px;
    margin-left: 5px;
}

#canvasDiv {
    display: flex;
    flex-wrap: wrap;
}

#users {
    margin-top: 0px;
    padding-left: 10px
}

#connectedUsers {
    margin-top: 0px;
    text-decoration: underline;
}

li {
    cursor: pointer;
}