<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whiteboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="CSS/styles.css">

</head>
    <body>

    <h1>Web Development Sucks</h1>

    <div id="login">

        <h2 style="text-decoration: underline">Enter username for access to whiteboard</h2>
        <label>Username:</label><br>
        <input type="text" id="usernameTextbox" name="username">
        <p1 style="color: red; display: none" id="usernameError">username already exists</p1>
        <br><br>
        <button id="loginButton">Submit</button>

    </div>

    <div id="whiteboard" style="display: none">
        <div id="colourPicker">
            <button id="clearCanvas">clear</button>
            <button class="colourButton" id="eraseButton" style="background-color: white"></button>
            <button class="colourButton" id="blackButton" style="background-color: #000000"></button>
            <button class="colourButton" id="blueButton" style="background-color: #0000ff"></button>
            <button class="colourButton" id="pinkButton" style="background-color: #ff1493"></button>
            <button class="colourButton" id="redButton" style="background-color: #ff0000"></button>
            <button class="colourButton" id="yellowButton" style="background-color: #ffff00"></button>
            <button class="colourButton" id="greenButton" style="background-color: #008000"></button>
            <select id="weightSelector">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
            </select>
        </div>

        <div id="canvasDiv">
            <canvas id="myCanvas" width="1280" height="720" style="border:1px solid black"></canvas>

            <div id="users">
                <h2 id="connectedUsers">Connected Users</h2>
                <ul id="connectedUsersList">
                    <li>me</li>
                </ul>

            </div>
        </div>
        <button id="logoutButton">log out</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/canvas.js"></script>

    </body>
</html>